/*
Charte graphique :
Bleu : #1d4a6b;
Jaune : #fbbe4a;
Vert : green;
*/
html,body{
	margin:0;
	font-family: sans-serif;
	color: #3e4a3c;
	scroll-behavior: smooth;
}
body{
	display: flex;
	flex-direction: column;
	align-items: center;
}
p {
	text-align: justify;
	line-height: 140%;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	text-decoration-style: dotted; 
}
h2{
	font-size: 2em;
	margin-top: 2em;
	padding-left: .5em;
	border-left: solid .3em #9ccaa1;
}

.background_img{
	width: 10%;
	min-width: 100px;
	z-index: -1;
	position: fixed; 
	opacity: 0.5
}
/* ========== HEADER ========== */

.whitespace{
	height: 2em;
}

header{
	position: fixed;
	top: 0;
	max-width: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: white;
	border-bottom: solid 1px #EFEFEF;
}

nav{
	max-width: 500px;
	width: 100%;
	display: flex;
	justify-content: space-around; 
	flex-wrap: wrap;
	
	padding: .5em 0;
}

nav a{
	text-align: center;
	display: inline-block;
	padding: .5em;
	color: inherit;
}

/* ======== BANNER ======== */
h1{
	font-size: 2.5em;
}

#banner > img{
	margin: 20px;
	align-self: center;
}

#banner > p{
	color: green;
	padding: 1em;
	border-top: solid .1em #3b963c;
	border-bottom: solid .1em #3b963c;
	text-align: center;
}

main{
	width: 95%;
	max-width: 1000px;
}
section{
	margin: 2.5em 2.5%;
	display: flex;
	flex-direction: column;
}
/* ========== FORUM =============*/
#stats{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#stats > p{
	display: block;
	padding: 0 .3em;
	text-align: center;
	font-size: larger;
	font-weight: bold;
	color: #1d4a6b;
}
#stats span{
	font-size: 3.5em;
}
#FID{
	font-size: 1.1em;
	text-align: justify;
	line-height: 150%;
}
.lien_planning{
	display: inline-block;
	align-self: center;
	background-color: green;
	padding: .5em;
	margin-top: 1em;
	text-align: center;
	border-radius: .5em;
	font-size: larger;
	color: white;
}
.lien_planning:hover{
	text-decoration: none;
	box-shadow: .1em .1em .1em .1em #DDD;
	cursor: pointer;
}
/* ======== CONFERENCES ========= */
.intro{
	color: #1d4a6b;
	font-size: 1.1em;
	margin-bottom: 1em;
}
.author{
	color: green;
}
/* ======== COMPANIES ========= */

#companies{
	display: flex;
	flex-direction: column;
}
article{
	border: solid 1px #EEE;
	background-color: #FFF;
	display: flex;
	flex-wrap: wrap;
	margin: 1em 0;
}

article a{
	color: green; 
}
article span {
	color: #1d4a6b;
}
.stages{
	color: white;
	font-weight: normal;
	font-size: .8em;
	background-color: #a64dff;
	border-radius: .9em;
	margin-left: .5em;
	padding: .4em .5em;
}
.logo{
	margin-top: 1.8em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-shrink: 0;
	width: 200px;
	height: 200px;;
}
.company_content{
	padding: .5em;
	flex-grow: 1;
	max-width: 700px;
}
.company_content > span{
	font-style: italic;
	font-weight: normal;
	color: #1d4a6b;
}
.button{
	display: block;
	color: inherit;
	background-color: #fbbe4a;
	padding: .4em;
	text-align: center;
	border-radius: .5em;
}
.button:hover{
	text-decoration: none;
	box-shadow: .1em .1em .1em .1em #DDD;
	cursor: pointer;
}
summary{
	cursor: pointer;
	color: green;
	padding-bottom: 1em;
}
summary:hover{
	text-decoration: underline dotted;
}
/* ========= DEBATE ============ */
cite{
	text-align: center;
	font-size: 1.3em;
	margin: 1em 0;
	color: #1d4a6b;
}

#lowtech{
	font-size: 1.1em;
}
#lowtech li{
	padding: .2em 0;
}
/* ========= FOOTER ============ */
footer{
	border-top: solid 1px #1d4a6b;
	color : #1d4a6b;
	text-align: center;
	margin-top: 2em;
	padding: 1%;
	max-width: 1100px;
	width: 98%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
footer div{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 0 1em;
}
footer img {
	padding: .3em;
}
footer a{
	color: inherit;
	display: block;
	margin: .6em 0;
}

@media (max-width: 500px) {
  	.whitespace{
		height: 10em;
  	}
}
